<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <b><a class="navbar-brand" href="#">MaRiTiNee ReSiDeNcYy</a></b>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images7.alphacoders.com/362/362619.jpg" class=d-block w-50 alt="...">
                  </div>
                  
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

            <div class="row col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<label for="" class="form-label">Full Name:</label>
<input type="text" placeholder="Enter your name" class="form-control">

            </div>
            <div class="row col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<label for="" class="form-label">Email:</label>
<input type="text" placeholder="Enter your mailid" class="form-control">
            </div>


            <div class="row col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<label for="" class="form-label">Phone No:</label>
<input type="text" placeholder="Enter your phno:" class="form-control">

            </div>
            <div class="row col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">Message</label>
                <input type="text" placeholder="enter the message" class="form-control">


            </div>
            <div class="row col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<label for="" class="form-label">Sent Message</label>
<textarea name="" id="" cols="30" rows="10" placeholder="If any needed" class="form-control"></textarea>

            </div>
           
           </div>
           <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h1><i><b>CALL US ON</b></i></h1>
            <b>Contact Info</b>
            <br>
            <b>Address</b><br>
            Near Inforpark,Banglore
            <br>
            <b>Phone</b>
            <br>
            +91 0942695410
            <br>
            <b>Email Address</b>
            <br>
            royalhotels@domain.com
            </div>
        </div>
    </div>
</div>