<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Customer Name</label>
                    <input type="text" placeholder="Enter your name" class="form-control">


        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Address</label>
            <textarea name="Enter your address" id="" cols="30" rows="10" class="form-control"></textarea>

</div>

<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <label for="" class="form-label">Phone Number</label>
    <input type="text" placeholder="Enter your phone number" class="form-control">


</div>

<div class="col col-12 col-sm-3 col-md-3 col-lg-4 col-xl-4 col-xxl-4">
<label for="" class="form-label">Types Of Room</label>
<select name="Select" id="Select" class="form-control">
    <option value="AC">AC Room</option>
    <option value="Non-AC">Non AC</option>
    
</select>

</div>

<div class="col col-12 col-sm-3 col-md-3 col-lg-4 col-xl-4 col-xxl-4">
<label for="" class="form-label">No of Person</label>
<input type="number" placeholder="Enter the no: of persons" class="form-control">


</div>


<div class="col col-12 col-sm-3 col-md-3 col-lg-4 col-xl-4 col-xxl-4">
<label for="" class="form-label">No of Rooms</label>
<input type="number" placeholder="Enter the no:of rooms" class="form-control">


</div>

<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<label for="" class="form-label">No of Days</label>
<input type="number" placeholder="Enter the no:of days" class="form-control">


</div>

<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
<label for="" class="form-label">Duration</label>
<input type="datetime" placeholder="Enter the duration" class="form-control">


</div>





<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<a href="/"><button class="btn btn-danger">Submit</button></a>
        
        </div>
        </div>
        </div>
        </div>
        </div>
        
        